<!DOCTYPE html>
<html>
<head>
    <title>Gitkins</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">GitKins</a>
            <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    <% if current_user %>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-cog"></i>
                                Settings
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">

                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-user"></i>
                                <%= current_user.name %>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="active"><a href="<%= signout_path %>">Logout</a></li>
                            </ul>
                        </li>
                    <% else %>
                        <li class="active"><a href="/auth/github">Login</a></li>
                    <% end %>
                </ul>
                <form class="navbar-search pull-right">
                    <input type="text" class="search-query" placeholder="Search">
                </form>
            </div>
        </div>
    </div>
</div>
<div class="main">
    <div class="container">
        <div class="row">
            <%= yield %>
        </div>
    </div>
</div>

</body>
</html>

