<!DOCTYPE html>
<html>
<head>
    <title>Gitkins</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="<%= root_path %>">GitKins</a>
            <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    <% if current_user %>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-cog"></i>
                                Settings
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">

                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-user"></i>
                                <%= current_user.name %>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="active"><a href="<%= signout_path %>">Logout</a></li>
                            </ul>
                        </li>
                    <% else %>
                        <li class="active"><a href="/auth/github">Login</a></li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="wrap">
    <div class="main">
        <div class="container">
            <div class="row">
                <%= yield %>
            </div>
        </div>
    </div>
</div>
<div class="extra">
    <div class="container">
        <div class="row">
            <div class="span3">
                <h4>About</h4>
                <ul>
                    <li><a href="javascript:;">About Us</a></li>
                    <li><a href="javascript:;">Twitter</a></li>
                    <li><a href="javascript:;">Facebook</a></li>
                    <li><a href="javascript:;">Google+</a></li>
                </ul>
            </div>

            <div class="span3">
                <h4>Support</h4>
                <ul>
                    <li><a href="javascript:;">Frequently Asked Questions</a></li>
                    <li><a href="javascript:;">Ask a Question</a></li>
                    <li><a href="javascript:;">Video Tutorial</a></li>
                    <li><a href="javascript:;">Feedback</a></li>
                </ul>
            </div>

            <div class="span3">
                <h4>Legal</h4>
                <ul>
                    <li><a href="javascript:;">License</a></li>
                    <li><a href="javascript:;">Terms of Use</a></li>
                    <li><a href="javascript:;">Privacy Policy</a></li>
                    <li><a href="javascript:;">Security</a></li>
                </ul>
            </div>

            <div class="span3">
                <h4>Settings</h4>
                <ul>
                    <li><a href="javascript:;">Git settings</a></li>
                    <li><a href="javascript:;">Jenkins settings</a></li>
                    <li><a href="javascript:;">Users role</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="footer">
    <div class="container">
        <div class="row">
            <div id="footer-copyright" class="span6">
                © 2013 Serge Starikov
            </div>
        </div>
    </div>
</div>

<a id="back-to-top" href="#top" style="display: none;">
    <i class="icon-chevron-up"></i>
</a>

</body>
</html>

